@{
    string c = "";
    const string colorDefault = "text-yellow-400 hover:text-yellow-300";
    const string class1 = $"flex items-center {colorDefault} p-3";

    switch (Model.Type)
    {
        case "brand":
            c = $"flex items-center font-black text-xl {colorDefault} p-6 lg:px-4";
            break;
        case "navlink":
            c = "flex items-center hover:text-white p-6 lg:px-4";
            break;
        case "dropdown":
            c = "flex items-center hover:text-white lg:border-[1px] lg:border-[rgb(25%,25%,25%)] lg:hover:border-[rgb(50%,50%,50%)] p-6 lg:px-4";
            break;
        case "dialog":
            c = $"flex items-center {colorDefault} p-1";
            break;
        case "blog-1":
            c = $"{class1}";
            break;
        case "blog-2":
            c = $"w-max flex items-center {colorDefault} -ms-3 p-3";
            break;
        case "product-1":
            c = "relative bg-[rgba(255,0,0,0.25))] h-[256px]";
            break;
        case "product-2":
            c = $"text-yellow-500 hover:text-yellow-400 ms-auto -m-5 p-5";
            break;
        case "product-3":
            c = "text-yellow-500 hover:text-yellow-400 ms-auto -m-5 p-5";
            break;
        case "account-1":
            c = $"w-max flex items-center {colorDefault} -ms-3 p-3";
            break;
        case "account-2":
            c = $"{class1}";
            break;
        case "user":
            c = $"w-max flex items-center {colorDefault} -ms-3 p-3";
            break;
        case "footer":
            c = $"flex items-center {colorDefault} -m-3 p-3";
            break;
        default:
            c = $"{colorDefault} -m-3 p-3";
            break;
    }
}

<a class="@(c ?? c)" href=@Model.URL>
    @{
        switch (Model.Type) {
            case "product-1":
                <img class="absolute top-0 left-0 w-full h-full saturate-50 contrast-125" src=@Model.URL />
                @* <div class="absolute top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.754)]"></div> *@
                <div class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(transparent,rgba(0,0,0,0.5))]"></div>
                break;
            case "product-2":
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" d="M0 0h24v24H0z"></path><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
                </svg>
                break;
            case "product-3":
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                    <path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"></path>
                </svg>
                break;
            default:
                @Html.Raw(Model.Body)
                break;
        }
    }
</a>
