@{
    ViewData["Title"] = "Home / Sitemap";
}

<div class="vh-100 container my-5">
    <h6 class="display-6 fw-bold text-light mb-5">@ViewData["Title"]</h6>
    <ul class="text-body-secondary">
        <li>
            <span class="fw-bold text-light">Home</span>
            <ul>
                <li><span class="fw-bold text-light">Homepage:</span> Default landing page for site visitors.</li>
                <li><span class="fw-bold text-light">Privacy:</span> Displays privacy disclaimers.</li>
                <li><span class="fw-bold text-light">Sitemap:</span> Page that provides descriptions for each of the site's pages.</li>
            </ul>
        </li>
        <li>
            <span class="fw-bold text-light">Shop</span>
            <ul>
                <li><span class="fw-bold text-light">Homepage:</span> Displays all products, search results, and search filters.</li>
                <li><span class="fw-bold text-light">Product:</span> Allows the viewing of a single product.</li>
                <li><span class="fw-bold text-light">Add:</span> Displays form fields to create a new product.</li>
                <li><span class="fw-bold text-light">Card:</span> Product component.</li>
                <li><span class="fw-bold text-light">Error:</span> 404 page for product related routes.</li>
            </ul>
        </li>
        <li>
            <span class="fw-bold text-light">Cart</span>
            <ul>
                <li><span class="fw-bold text-light">Homepage:</span> Displays a collection of products that have been saved to a virtual cart.</li>
            </ul>
        </li>
    </ul>
</div>
