@{
    ViewBag.Title = "Home / Sitemap";
}

<div class="container m-auto lg:my-20 p-5">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <ul class="list-inside">
        <li>
            <h3 class="text-2xl font-black mb-3">Home</h3>
            <ul class="list-disc list-inside text-[rgb(75%,75%,75%)]">
                <li>
                    <code class="text-white">Homepage:</code> Default landing page for site visitors.
                </li>
                <li>
                    <code class="text-white">Sitemap:</code> Page that provides descriptions for each of the
                    site's pages.
                <li>
                    <code class="text-white">Privacy:</code> Displays privacy disclaimers.
                </li>
            </ul>
        </li>
        <li>
            <h3 class="text-2xl font-black mt-10 mb-3">Shop</h3>
            <ul class="list-disc list-inside text-[rgb(75%,75%,75%)]">
                <li>
                    <code class="text-white">Homepage:</code> Displays all products, search results, and
                    search
                    filters.
                </li>
                <li>
                    <code class="text-white">Product:</code> Allows the viewing of a single product.
                </li>
                <li>
                    <code class="text-white">Add:</code> Displays form fields to create a new product.
                </li>
                <li>
                    <code class="text-white">Card:</code> Product component.
                </li>
                <li>
                    <code class="text-white">Error:</code> 404 page for product related routes.
                </li>
            </ul>
        </li>
        <li>
            <h3 class="text-2xl font-black mt-10 mb-3">Cart</h3>
            <ul class="list-disc list-inside text-[rgb(75%,75%,75%)]">
                <li>
                    <code class="text-white">Homepage:</code> Displays a collection of products that have
                    been
                    saved to a virtual cart.
                </li>
            </ul>
        </li>
    </ul>
</div>
