@model Item
@{
    ViewBag.Title = "Shop / Create";
}

<div class="container m-auto lg:my-20 p-5">
    <h1 class="text-4xl font-black mb-10">@ViewBag.Title</h1>
    <form method="post">
        @* InCart *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Whether game is added to the virtual
                cart</strong>
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">InCart</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="InCart"
                    placeholder='e.g. "true" or "false"' />
            </div>
        </div>
        @* Title *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Game title</strong>
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">Title</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="Title"
                    placeholder='e.g. "An exciting title"' />
            </div>
        </div>
        @* Genre *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Game genre</strong>
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">Genre</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="Genre"
                    placeholder='e.g. "Strategy"' />
            </div>
        </div>
        @* Release Year *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Year the game was released</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">Release
                    Year</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="ReleaseYear"
                    placeholder='e.g. "1958" - "2023"' />
            </div>
        </div>
        @* Price *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Assigned rent price for this game</strong>
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">Price</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="Price"
                    placeholder='e.g. "1" - "100"' />
            </div>
        </div>
        @* Age Range *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Recommended age minimum for this game</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">Age
                    Range</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="AgeRange"
                    placeholder='e.g. "Everyone"' />
            </div>
        </div>
        @* Condition *@
        <div class="flex flex-col shadow-2xl mb-10">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Physical condition of the game</strong>
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(22.5%,22.5%,22.5%)] p-3">Condition</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(22.5%,22.5%,22.5%)] p-3" name="Condition"
                    placeholder='e.g. "Excellent"' />
            </div>
        </div>
        @* Submit *@
        <div class="w-full flex flex-col lg:flex-row text-center lg:text-start gap-3">
            <button class="w-full lg:w-max bg-yellow-400 hover:bg-yellow-300 text-center lg:text-start text-black p-3"
                type="submit">Submit</button>
            <partial name="~/views/shared/htmllink.cshtml"
                model='new HtmlLinkVM { Type="account-2", URL="/shop", Body="Cancel" }' />
        </div>
    </form>
</div>
