@{
    ViewData["Title"] = "Shop / Error";
}

<div class="container my-5">
    <h6 class="display-6 fw-bold text-light">@ViewData["Title"]</h6>
    <p class="text-body-secondary my-5">Whatever you're looking for isn't here.</p>
    <a class="btn btn-lg btn-warning rounded-0 text-dark fw-bold" href="/shop">RETURN HOME</a>
</div>
