@model List<Item>
@{
    ViewBag.Title = "Shop / Homepage";
}

<form class="flex flex-col lg:flex-row h-full" method="post">
    <div class="border-r-[1px] border-[rgb(25%,25%,25%)] shadow-2xl-hack-end" method="post">
        @* Genre *@
        <div class="flex flex-col shadow-2xl">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Genre</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Type</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" name="genre"
                    placeholder='e.g. "Strategy"' />
            </div>
        </div>
        @* Release Year *@
        <div class="flex flex-col shadow-2xl">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Release Year</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Min</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" type="number"
                    name="releaseYearMin" placeholder='e.g. "1958"' />
            </div>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Max</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" type="number"
                    name="releaseYearMax" placeholder='e.g. "2024"' />
            </div>
        </div>
        @* Price *@
        <div class="flex flex-col shadow-2xl">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Price</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Min</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" type="number"
                    name="priceMin" placeholder='e.g. "1"' />
            </div>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Max</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" type="number"
                    name="priceMax" placeholder='e.g. "100"' />
            </div>
        </div>
        @* Age Range *@
        <div class="flex flex-col shadow-2xl">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Age Rating</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Rating</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" name="ageRange"
                    placeholder='e.g. "Everyone"' />
            </div>
        </div>
        @* Condition *@
        <div class="flex flex-col shadow-2xl">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Condition</strong>
            <div class="flex">
                <span
                    class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Physical</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" name="condition"
                    placeholder='e.g. "Excellent"' />
            </div>
        </div>
        @* Author *@
        <div class="flex flex-col shadow-2xl">
            <strong class="bg-[#353a40] shadow-2xl mb-0 p-2">Owner</strong>
            <div class="flex">
                <span class="bg-[rgb(10%,10%,10%)] border-[1px] border-e-0 border-[rgb(25%,25%,25%)] p-3">Created
                    by</span>
                <input class="w-full bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3" name="author"
                    placeholder='e.g. "Jane Smith"' />
            </div>
        </div>
    </div>
    <div class="container m-auto lg:my-20 p-5">
        @* Search *@
        <div class="flex flex-col items-center">
            <div class="w-full flex flex-col lg:flex-row gap-5">
                <h1 class="text-4xl font-black">@ViewBag.Title</h1>
                <div class="flex gap-5 my-auto">
                    <partial name="~/views/shared/htmllink.cshtml"
                        model='new HtmlLinkVM { Type="login-1", URL="/shop", Body="Reset Filters" }' />
                    <partial name="~/views/shared/htmllink.cshtml"
                        model='new HtmlLinkVM { Type="login-1", URL="/shop/create", Body="Create Product" }' />
                </div>
            </div>
            <div id="search" class="w-full mt-5">
                <div class="shadow-2xl">
                    <div class="flex flex-col lg:flex-row">
                        <input class="w-full lg:w-1/2 bg-inherit border-[1px] border-[rgb(25%,25%,25%)] p-3"
                            name="search" placeholder="Search games by exact title..." />
                        <button class="w-full lg:w-max bg-yellow-400 hover:bg-yellow-300 text-center lg:text-start text-black
                        p-3" type="submit">Search</button>
                    </div>
                </div>
                @* Products *@
                <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full mt-5">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <partial name="~/views/shop/card.cshtml" model="new Item {
                                ImageId = item.ImageId,
                                ItemId = item.ItemId,
                                InCart = item.InCart,
                                Title = item.Title,
                                Genre = item.Genre,
                                ReleaseYear = item.ReleaseYear,
                                Price =  item.Price,
                                AgeRange = item.AgeRange,
                                Condition = item.Condition,
                                From =item.From
                            }" />
                        }
                    }
                </ul>
            </div>
</form>
