.shadow-lg-hack-top {
	/* Flip vertical direction	*/
	box-shadow: 0 -1rem 3rem rgba(0, 0, 0, 0.175);
}

.shadow-lg-hack-end {
	/* Disable bottom direction and enable right direction	*/
	box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.175);
}

.dropdown button:after {
	border: none;
}

.dropdown-menu li a {
	padding: 1rem 2rem;
}

	.dropdown-menu li a:hover, .dropdown-menu li a:active {
		color: black !important;
		background-color: var(--bs-warning) !important;
	}

.form-check-input:checked[type="radio"] {
	--bs-form-check-bg-image: none;
}

.form-check-input:active, .form-check-input:focus {
	border-color: var(--bs-warning);
}

.form-check-input:checked {
	background-color: var(--bs-warning);
	border-color: var(--bs-warning);
	color: red;
}

#products {
	white-space: pre-line;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

@media (min-width: 992px) {
	#search {
		width: 50%;
	}

	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.2s linear;
	}

	.dropdown:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.2s linear;
	}

	/* Custom workaround for - https://github.com/twbs/bootstrap/issues/36897 */
	.dropdown-menu {
		right: auto !important;
		left: 50% !important;
		margin: 0 !important;
		padding: 0 !important;
		transform: translate(-50%, 0) !important;
	}
}
